


html {
    height: 100%;
    margin: 0;
}



/* Font styles */

h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
    color: #202122;
}

p, #lorem-ipsum {
/*    font-family: 'Roboto Mono', monospace; */
    font-family: 'Roboto', sans-serif;

    color: #202122;
}


.project .project-name {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bolder;

}

.project-description {
    font-family: 'Roboto', sans-serif;

}

.project-text {
    display: contents;
}

/* Page Structure */


header {
    text-align: center;
    background-color: #213A54;
    max-width: 75%;
    margin: 0 auto;
    border-radius: 12px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
        
}
nav ul li {
    font-size: 24px;
    font-family: sans-serif;
}

nav p, nav h1 {
    color: #5393D4;

}

nav a {
    text-decoration: none;
    color: #5393D4;
    border: 3px solid #5393D4;
    border-radius: 15px;
    padding: 0.5em 0.5em;
    transition: background-color 350ms linear 100ms, color 350ms linear 100ms;
}

nav a:hover {

    background-color:#5393D4;
    color:#213A54;

}

nav img {
    max-width: 50px;
    max-height: 50px;
}




body {
    margin: 0;
    text-align: center;
    background-color: #dae5f0;
}


main {
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    max-width: 75%;
    margin: 0 auto;
    /*padding-top: 2em;*/
}

#ipsum-lorem {

margin: 0 auto;
    
} 

/* Project Section Styles */

#project-section {
    padding: 3em 3em;

}

#project-container{
    align-content: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
}

.project {
    min-width: 100px;
    min-height: 100px;
    background-color: #213A54;
    border: 3px solid #284666;
    border-radius: 10px;
    color:#5393D4;
    transition: background-color 350ms linear 100ms, color 350ms linear 100ms;


}



/* Project section transition/animation rules */


  
.project:hover, .project:focus {
    
    background-color:#5393D4;
    color:#213A54;
}



footer {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    text-align: center;
    background-color: #213A54;
    overflow: hidden;
}

footer p {
    font-weight: bold;
    color: #A9C2DB;
}








/* Reactive Styles */

/* 4k, Width <= 2560px */
@media only screen and (min-width: 2560px){
    header, nav ul li {
        font-size: 1.5em;
    }

    nav img {
        max-height: 3.5em;
        max-width: 3.5em;
    }
    .about-text, footer {
        font-size: 2em;
    }
    footer {
        margin-top: 1em;
    }

    .project .project-name {
        font-size: 3em;
    }

    .project .project-description {
        font-size: 2.5em;
    }
}

/* Desktop, Width <= 1920px */
@media (max-width:2559px) and (min-width: 1920px){
    header, nav ul li {
        font-size: 1.3em;
    }

    nav img {
        max-height: 3.5em;
        max-width: 3.5em;
    }
    .about-text {
        font-size: 1.3em;
    }
    footer {
        margin-top: 1em;
    }

    .project .project-name {
        font-size: 2em;
    }

    .project .project-description {
        font-size: 1.5em;
    }
}



/* Laptop, Width <= 1440px */
@media (max-width:1919px) and (min-width: 1440px){
    header, nav ul li {
        font-size: 1.3em;
    }

    nav img {
        max-height: 3.5em;
        max-width: 3.5em;
    }
    .about-text {
        font-size: 1.3em;
    }
    footer {
        margin-top: 1em;
    }

    .project .project-name {
        font-size: 2em;
    }

    .project .project-description {
        font-size: 1.5em;
    }
}


/* Tablet, Width <= 768px */
@media (max-width:1439) and (min-width: 768px){
    header, nav ul li {
        font-size: 1em;
    }


    footer {
        margin-top: 0.8em;
    }

    .project .project-name {
        font-size: 1em;
    }

    .project .project-description {
        font-size: 0.95em;
    }
}


/* Mobile Large, Width <= 425px */
@media (max-width: 765px) and (min-width: 425px){
    header, nav ul li {
        font-size: 0.95em;
    }

    h1#logo {
        display: none;
    }

    footer {
        margin-top: 0.8em;
    }

    .project .project-name {
        font-size: 0.95em;
    }

    .project .project-description {
        font-size: 0.85em;
    }
}

/* Mobile Small, Width <= 320px */
@media (max-width: 420px) and (min-width: 320px){
    header, nav ul li {
        font-size: 0.8em;
    }

    nav img {
        max-width: 3.2em;
        max-height: 4em;
    }

    h1#logo {
        display: none;
    }

    footer {
        margin-top: 0.8em;
    }

    .project .project-name {
        font-size: 0.95em;
    }

    .project .project-description {
        font-size: 0.85em;
    }
}



