header {
    text-align: center;
    background-color: darkblue;
}

/*nav {

}*/

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
        
}
nav ul li {
    font-size: 24px;
    font-family: sans-serif;
    background-color: floralwhite;
}


body {
    text-align: center;
    background-color: darkgrey;
}


main {
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    background-color: floralwhite;
    max-width: 75%;
    margin: 0 auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}


#projects {
    display: grid;
}

#project1 {
    min-width: 25px;
    min-height: 25px;
    background-color: blue;
    border: 1px solid black;
}

#project2 {
    min-width: 25px;
    min-height: 25px;
    background-color: red;
    border: 1px solid black;
}

#project3 {
    min-width: 25px;
    min-height: 25px;
    background-color: green;
    border: 1px solid black;
}

#project4 {
    min-width: 25px;
    min-height: 25px;
    background-color: yellow;
    border: 1px solid black;
}
footer {
    text-align: center;
    background-color: darkolivegreen;
}